@using ContributionSystem.UI.Components.Redirects

<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(Program).Assembly" PreferExactMatches="@true">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData"
                                DefaultLayout="@typeof(MainLayout)">
                <NotAuthorized>
                    @if (!context.User.Identity.IsAuthenticated)
                    {
                        <ToLogin />
                    }
                </NotAuthorized>
            </AuthorizeRouteView>
        </Found>
        <NotFound>
            <AuthorizeView>
                <Authorized>
                    <LayoutView Layout="@typeof(MainLayout)">
                        <ToMain />
                    </LayoutView>
                </Authorized>
                <NotAuthorized>
                    <LayoutView Layout="@typeof(MainLayout)">
                        <p>Sorry, there's nothing at this address.</p>
                    </LayoutView>
                </NotAuthorized>
            </AuthorizeView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>