@using ContributionSystem.ViewModels.Enums;
<EditForm role="form" class="col-3" OnValidSubmit="@Calculate" Model="@Request">
    <FluentValidationValidator />
    <div class="form-group">
        <label for="Percent">Percent:</label>
        <div class="row">
            <InputNumber class="form-control" placeholder="Percent" id="Percent" @bind-Value="Request.Percent" />
            <ValidationMessage For="@(() => Request.Percent)" />
        </div>
        <br />
        <label for="Term">Term:</label>
        <div class="row">
            <InputNumber class="form-control" placeholder="Term" id="Term" @bind-Value="Request.Term" />
            <ValidationMessage For="@(() => Request.Term)" />
        </div>
        <br />
        <label for="Sum">Sum:</label>
        <div class="row">
            <InputNumber class="form-control" placeholder="Sum" id="Sum" @bind-Value="Request.StartValue" />
            <ValidationMessage For="@(() => Request.StartValue)" />
        </div>
        <br />
        <div class="text-center">
            <button class="btn btn-secondary" type="submit" @onclick="() => ChangeMethod(CalculationMethodEnumView.Simple)">Simpl percent</button>
            <br /><br />
            <button class="btn btn-secondary" type="submit" @onclick="() => ChangeMethod(CalculationMethodEnumView.Complex)">Complex percent</button>
        </div>
    </div>
</EditForm>