@using ContributionSystem.ViewModels.Enums;

<EditForm role="form" class="col-3" OnValidSubmit="@Calculate" Model="@_requestCalculateContributionViewModel">
    <FluentValidationValidator />
    <div class="form-group">
        <label for="Percent">Percent:</label>
        <div class="row">
            <InputNumber class="form-control" placeholder="Percent" id="Percent" @bind-Value="_requestCalculateContributionViewModel.Percent" />
            <ValidationMessage For="@(() => _requestCalculateContributionViewModel.Percent)" />
        </div>
        <br />
        <label for="Term">Term:</label>
        <div class="row">
            <InputNumber class="form-control" placeholder="Term" id="Term" @bind-Value="_requestCalculateContributionViewModel.Term" />
            <ValidationMessage For="@(() => _requestCalculateContributionViewModel.Term)" />
        </div>
        <br />
        <label for="Sum">Sum:</label>
        <div class="row">
            <InputNumber class="form-control" placeholder="Sum" id="Sum" @bind-Value="_requestCalculateContributionViewModel.StartValue" />
            <ValidationMessage For="@(() => _requestCalculateContributionViewModel.StartValue)" />
        </div>
        <br />
        <div class="row">
            <select class="form-control" @bind="_requestCalculateContributionViewModel.CalculationMethod">
                @foreach (var method in Enum.GetValues(typeof(CalculationMethodEnumView)))
                {
                    <option value="@method">@method</option>
                }
            </select>
        </div>
        <br />
        <div class="text-center">
            <button class="btn btn-secondary" type="submit">Calculate</button>
        </div>
    </div>
</EditForm>