@page "/ContributionCalculator"
@using System.Net.Http
@using System.Net.Http.Json
@using System.Threading.Tasks
@using ContributionSystem.ViewModels.Models.Contribution;
@inject HttpClient Http
<div class="row">
    <EditForm  role="form" class="col-3" OnValidSubmit="@AddItem" Model="@newItem">
        <div class="form-group">
            <div class="row">
                <InputText class="form-control" placeholder="Percent" @bind-Value="newPercent"/>
            </div>
            <br />
            <div class="row">
                <InputText class="form-control" placeholder="Term" @bind-Value="newTerm"/>
            </div>
            <br />
            <div class="row">
                <InputText class="form-control" placeholder="Summ" @bind-Value="newStartValue"/>
            </div>
            <br />
            <div class="text-center">
                <button class="btn btn-secondary" type="submit">Calculate</button>
            </div>
        </div>
    </EditForm>
    <div class="col-9 text-center" style="max-height: 643.5px; overflow: auto;">
        <table class="table table-bordered">
            <thead>
                <tr class="active bg-light">
                    <th class="col-4" scope="row">
                        Month
                    </th>
                    <th class="col-2">
                        %
                    </th>
                    <th class="col-3">
                        Sum
                    </th>
                </tr>
            </thead>
            <tbody>
                @if (content != null)
                {
                    @foreach (var item in content.Items)
                    {
                        <tr>
                            <td scope="row">
                                @item.MonthNumber
                            </td>
                            <td>
                                @item.Income
                            </td>
                            <td>
                                @item.Sum
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>

@code {

    private string newStartValue { get; set; }

    private string newTerm { get; set; }

    private string newPercent { get; set; }

    RequestCalculateContributionViewModel newItem = new();

    ResponseCalculateContributionViewModel content;

    private async Task AddItem()
    {
        var newItem = new RequestCalculateContributionViewModel
        {
            StartValue = decimal.Parse(newStartValue),
            Term = Int32.Parse(newTerm),
            Percent = decimal.Parse(newPercent)
        };
        var response = await Http.PostAsJsonAsync("/api/contribution/calculate", newItem);
        if(((int)response.StatusCode) == 400)
        {
            var errorMessage = response.Content.ReadFromJsonAsync<ResponseCalculateContributionViewModel>()
        }
        if (((int)response.StatusCode) == 200)
        {
            content = await response.Content.ReadFromJsonAsync<ResponseCalculateContributionViewModel>();
        }
    }
}
